@import './_imports/_variables';

@for $i from 1 through $grid-columns {
  .g--#{$i} {
    margin-bottom: $space-big;
    margin-top: $space-big;
    width: 100% / $grid-columns * $i;
  }

  .w--#{$i} {
    margin-bottom: 0;
    margin-top: 0;
    width: 100% / $grid-columns * $i;
  }

  @media screen and (max-width: $media-med) {
    .g-m--#{$i} {
      margin-bottom: $space-med * 1.3;
      margin-top: $space-med * 1.3;
      width: 100% / $grid-columns * $i;
    }

    .w-m--#{$i} {
      margin-bottom: 0;
      margin-top: 0;
      width: 100% / $grid-columns * $i;
    }
  }

  @media screen and (max-width: $media-small) {
    .g-s--#{$i} {
      margin-bottom: $space-med * .9;
      margin-top: $space-med * .9;
      width: 100% / $grid-columns * $i;
    }

    .w-s--#{$i} {
      margin-bottom: 0;
      margin-top: 0;
      width: 100% / $grid-columns * $i;
    }
  }

  @media screen and (max-width: $media-tiny) {
    .g-t--#{$i} {
      margin-bottom: $space-small;
      margin-top: $space-small;
      width: 100% / $grid-columns * $i;
    }

    .w-t--#{$i} {
      margin-bottom: 0;
      margin-top: 0;
      width: 100% / $grid-columns * $i;
    }
  }

  .m--#{$i} {
    margin-left: 100% / $grid-columns * $i;
  }

  @media screen and (max-width: $media-med) {
    .m-m--#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
  }

  @media screen and (max-width: $media-small) {
    .m-s--#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
  }

  @media screen and (max-width: $media-tiny) {
    .m-t--#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
  }

  @media print {
    .g-p--#{$i} {
      margin-bottom: $space-med * .9;
      margin-top: $space-med * .9;
      width: 100% / $grid-columns * $i;
    }

    .w-p--#{$i} {
      margin-bottom: 0;
      margin-top: 0;
      width: 100% / $grid-columns * $i;
    }

    .m-p--#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
  }
}


.m--0 {
  margin-left: 0;
}

@media screen and (max-width: $media-med) {
  .m-m--0 {
    margin-left: 0;
  }
}

@media screen and (max-width: $media-small) {
  .m-s--0 {
    margin-left: 0;
  }
}

@media screen and (max-width: $media-tiny) {
  .m-t--0 {
    margin-left: 0;
  }
}


@media screen and (min-width: $media-med + 1) {
  .only--m,
  .only--s,
  .only--t,
  .only--ms,
  .only--mt,
  .only--st,
  .only--mst,
  .except--l,
  .except--lm,
  .except--ls,
  .except--lt,
  .except--lms,
  .except--lmt,
  .except--lst {
    display: none;
  }
}

@media screen and (min-width: $media-small + 1) and (max-width: $media-med) {
  //.m-m--0 {
  //  margin-left: 0;
  //}

  .only--l,
  .only--s,
  .only--t,
  .only--ls,
  .only--lt,
  .only--st,
  .only--lst,
  .except--m,
  .except--lm,
  .except--ms,
  .except--mt,
  .except--lms,
  .except--lmt,
  .except--mst {
    display: none;
  }
}

@media screen and (min-width: $media-tiny + 1) and (max-width: $media-small) {
  //.m-s--0 {
  //  margin-left: 0;
  //}

  .only--l,
  .only--m,
  .only--t,
  .only--lm,
  .only--lt,
  .only--mt,
  .only--lmt,
  .except--s,
  .except--ls,
  .except--ms,
  .except--st,
  .except--lms,
  .except--lst,
  .except--mst {
    display: none;
  }
}

@media screen and (max-width: $media-tiny) {
  //.m-t--0 {
  //  margin-left: 0;
  //}

  .only--l,
  .only--m,
  .only--s,
  .only--lm,
  .only--ls,
  .only--ms,
  .only--lms,
  .except--t,
  .except--lt,
  .except--mt,
  .except--st,
  .except--lmt,
  .except--lst,
  .except--mst {
    display: none;
  }
}


[class*='container'] {
  display: flex;
}

.container--baseline {
  align-items: baseline;
}

.container--center {
  align-items: center;
}

.container--start {
  align-items: flex-start;
}

.container--end {
  align-items: flex-end;
}

.container--justify {
  justify-content: center;
}

.container--horizontal {
  flex-direction: row;
}

.container--vertical {
  flex-direction: column;
}

.container--horizontal-reverse {
  flex-direction: row-reverse;
}

.container--vertical-reverse {
  flex-direction: column-reverse;
}

.item--nogrow {
  flex-grow: 0;
}

.item--noshrink {
  flex-shrink: 0;
}

.container--wrap {
  flex-wrap: wrap;
}

.container--wrap--m {
  @media screen and (max-width: $media-med) {
    flex-wrap: wrap;
  }
}

.container--wrap--s {
  @media screen and (max-width: $media-small) {
    flex-wrap: wrap;
  }
}

.container--wrap--t {
  @media screen and (max-width: $media-tiny) {
    flex-wrap: wrap;
  }
}

.nudge--right {
  margin-right: $space-med;
  @media screen and (max-width: $media-small) {
    margin-right: $space-med * .75;
  }
  @media screen and (max-width: $media-tiny) {
    margin-right: $space-small;
  }
}

.nudge--left {
  margin-left: $space-med;
  @media screen and (max-width: $media-small) {
    margin-left: $space-med * .75;
  }
  @media screen and (max-width: $media-tiny) {
    margin-left: $space-small;
  }
}

.no-nudge--m {
  @media screen and (max-width: $media-med) {
    margin-left: 0;
    margin-right: 0;
  }
}

.no-nudge--s {
  @media screen and (max-width: $media-small) {
    margin-left: 0;
    margin-right: 0;
  }
}

.no-nudge--t {
  @media screen and (max-width: $media-tiny) {
    margin-left: 0;
    margin-right: 0;
  }
}
